.btn-container {
  display: flex;
  height: 50px;
}

.nav-btn {
  display: block;
  align-items: center;
  margin: auto 0 auto auto;
  height: 100%;
}

.icon-btn {
  z-index: 99999;
  display: block;
  background-size: contain;
  height: 50px;
  width: auto;
  cursor: pointer;
  color: #ffffff;
  background: #e1a33b;
  padding: 8px;
  margin: 0;
}
