.team-section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.team-group-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {

  .team-section {
    margin: 0 auto;
  }

  .team-group-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    margin: 0 auto 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .team-group-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px;
    margin: 0 auto 50px auto;
  }

  .team-section {
    margin: 0 auto;
  }
}

