.info-section {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: #d2cccc;
  /* top: -20px; */
  position: relative;
  z-index: 99;
}

.info-container {
  display: flex;
  min-height: 80vh;
  /* max-height: auto; */
}

.info-column-left {
  order: 1;
  display: inline-block;
  position: relative;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}

.info-column-left.reverse {
  order: 2;
}

.info-column-left img {
  width: 350px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
}

.info-column-left img:hover + .play-icon,
.play-icon:hover {
  width: 85px;
  height: 85px;
  transition: 0.3s all ease-in-out;
  color: #dd9a27;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  color: #e1a33b;
}

.info-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.4;
  padding: 1rem 4rem;
  order: 2;
}

.info-column-right.reverse {
  order: 1;
}

.info-column-right h1 {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 6vw, 2rem);
}

.info-column-right h3 {
  color: #e1a33b;
  font-size: clamp(1rem, 8vw, 10px);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  margin-bottom: 0.8rem;
  border-left: #e1a33b solid 40px;
  border-left-style: groove;
  padding-left: 10px;
}

.info-column-right p {
  margin-bottom: 2rem;
  text-align: justify;
  width: 100%;
}

.show-more {
  color: #e1a33b;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.show-more:hover {
  color: #dd9a27;
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 1200px) {

  .info-column-right {
    padding: 1rem 2rem;
    margin: auto;
    display: block;
  }

  .info-column-right h3 {
    font-size: 14px;
    border-left: #e1a33b solid 40px;
    border-left-style: groove;
  }
}

@media screen and (max-width: 768px) {
  .info-container {
    display: block;
  }

  .info-column-left {
    display: flex;
    margin: 20px auto auto auto;
  }

  .info-column-left img {
    width: 90%;
    height: 90%;
  }

  .info-column-right {
    padding: 1rem 2rem;
    margin-left: 0;
    margin-top: 80px;
  }
}
