.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin-top: -10px;
  transition: 0.3s ease-in;
}

.navbar.active {
  /* background-color: rgba(0, 0, 0, 0.9); */
  transition: 0.3s ease-in;
}

.nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.logo-container {
  height: 10px;
  margin-top: -14px;
  padding: 20px;
  transition: 0.3s ease-in;
}

.logo-container.active {
  height: 80px;
  transition: 0.3s ease-in;
  background-color: #000000ce;
  margin-top: -8px;
  padding: 10px;
  transition: 0.3s ease-in;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.logo-image {
  height: 80px;
  margin: auto;
  display: block;
  transition: 0.3s ease-in;
}

.logo-image.active {
  height: 60px;
  margin: auto;
  display: block;
  transition: 0.3s ease-in;
}

.nav-menu {
  display: none;
  align-items: center;
  margin-right: -48px;
}

.nav-menu-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.right-side-menu {
  margin-top: -10px;
}

.btn-container {
  display: flex;
  height: 50px;
}

.nav-btn {
  display: block;
  align-items: center;
  margin: auto;
  height: 100%;
}

.menu-bars {
  z-index: 99999;
  display: block;
  background-size: contain;
  height: 100%;
  width: auto;
  cursor: pointer;
  color: #ffffff;
  background: #e1a33b;
  padding: 6px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }

  .logo-container {
    padding: 10px 0;
    margin-left: -20px;
  }

  .logo-image {
    height: 60px;
  }
}
