.project-section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
  z-index: 99;
}

.project-group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {

  .project-section {
    margin: 0 auto;
  }

  .project-group-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    margin: 0 auto 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .project-group-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px;
    margin: 0 auto 20px auto;
    gap: 0;
  }

  .project-section {
    margin: 0 auto;
    padding: 0;
  }
}

